<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Exchange </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<style>
    table, th, td {
        font-size: xx-large;
    }
</style>
<div id="table">
    <script>
        let updateInterval = JSON.parse('{{iteration}}') / 5;
        let beerList = JSON.parse('{{ beers | tojson }}'); //can only take strings
        let colors = JSON.parse('{{colorSet | tojson}}');
        let a = setInterval("updateData();", updateInterval * 1000);
        printTable();

        function printTable() {
            console.log(beerList)
            let table = "<table style='width:100%' class='table table-striped table-primary'>";
            table += "<tr style='border-bottom: 2px solid'> <th>Getränk</th> <th>Preis</th> <th>Trend</th> <th>Min</th> <th>Max</th> </tr>"; //columns
            for (let drink in beerList) {
                console.log()
                table += "<tr>";
                table += "<td>" + beerList[drink]["name"] + "</td>"; // rows
                table += "<td>" + beerList[drink]["price"] + "</td>"; // rows
                table += "<td>" + beerList[drink]["price_diff"] + "</td>"; // rows
                table += "<td>" + beerList[drink]["min"] + "</td>"; // rows
                table += "<td>" + beerList[drink]["max"] + "</td>"; // rows
                table += "</tr>";
            }
            table += "</table>"
            document.getElementById("table").innerHTML = table;
        }

        function updateData() {
            $.getJSON("http://127.0.0.1:8000/data/table", function (data) {
                beerList = data;
                printTable();
            });
        }
    </script>
</div>
</body>
<script src="{{ url_for('static', filename='js/canvas.js/canvasjs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</html>