<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Exchange </title>
</head>
<body>


<style>
    table, th, td {
        border: 1px solid black;
        font-size: xx-large;
    }
</style>
<div id="table">
    <script>
        let updateInterval = JSON.parse('{{iteration}}');
        let beerList = JSON.parse('{{ beers | tojson }}'); //can only take strings
        let colors = JSON.parse('{{colorSet | tojson}}');
        let myVar = setInterval("updateData();", updateInterval * 1000);
        printTable();
        function printTable() {
            let table = "<table style='width:100%'>";
            table += "<tr> <th>Getränk</th> <th>Preis</th> <th>Trend</th> <th>Min</th> <th>Max</th> </tr>"; //columns
            for (let i = 0; i < beerList.length; i++) {
                table += "<tr>";
                for (let j = 0; j < beerList[i].length; j++) {
                    table += "<td>" + beerList[i][j] + "</td>"; // rows
                }
                table += "</tr>";
            }
            table += "</table>"
            document.getElementById("table").innerHTML = table;
        }

        function updateData() {
            $.getJSON("http://127.0.0.1:8000/data/table", function(data)
            {
                beerList = data;
                printTable();
            });
        }

    </script>
</div>
</body>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</html>