<!DOCTYPE HTML>
<html>
<head>
    <title>Cheap and Good Drinks</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>

    <style type="text/css">

        body {
            background-image: url("/static/BeerR.jpg");
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;


        }


        #chartContainer {


        }
    </style>
    <div id="code"></div>
    <script>
        let updateInterval = JSON.parse('{{iteration}}');
        window.onload = function () {


            let dataList = [];
            let nameList = JSON.parse('{{ beers | tojson }}');
            let colors = JSON.parse('{{colorSet | tojson}}');
            const chartData = loadNames();
            CanvasJS.addColorSet("customColors", colors);


            let chart1 = new CanvasJS.Chart("chartContainer", {
                zoomEnabled: true,
                title: {
                    text: "Getränkepreise"
                },
                colorSet: "customColors",
                axisY: {
                    suffix: "€",
                    includeZero: true
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "top",
                    fontSize: 35,
                    fontColor: "dimGrey",
                   // itemclick: toggleDataSeries
                },
                axisX: {
                    labelFormatter: function (e) {
                        return "";
                    }
                },
                dataPoints: {
                  type : "line"
                },
                data: chartData
            });


            function loadNames() {
                initializeDataList();
                let data = [];
                for (let i = 0; i < nameList.length; i++) {
                    data.push({
                        type: "line",
                        //xValueType: "dateTime",
                        yValueFormatString: "€##.00",
                        //xValueFormatString: "hh:mm:ss TT",
                        showInLegend: true,
                        name: nameList[i],
                        dataPoints: dataList[nameList[i]]
                    });
                }
                return data;
            }


            function initializeDataList() {
                for (let i = 0; i < nameList.length; i++) {
                    dataList[nameList[i]] = [];
                }
            }

            function initializeLegend() {
                for (let i = 0; i < nameList.length; i++) {
                    chart1.options.data[i].legendText = nameList[i];

                }
                chart1.render();
            }

            function updateLegend() {
                for (let i = 0; i < nameList.length; i++) {
                    chart1.options.data[i].legendText = nameList[i] + " " + getLastValueFromList(dataList[nameList[i]]) + " €";
                }
            }

            function getLastValueFromList(list) {
                return list[list.length - 1]['y'];
            }

            function newDataHasNewValues(data) {
                for (let drink in data) {
                    let newEntry = data[drink][data[drink].length - 1];//last price of input is the new one
                    if (dataList[drink].length == 0) {
                        return true;
                    }
                    let latestPrice = dataList[drink][dataList[drink].length - 1];
                    if (newEntry[1] != latestPrice.y) { // diff !0 and !==
                        console.log("new: " + newEntry)
                        console.log("current: " + latestPrice.y);
                        return true;
                    }

                }
                return false;
            }


            function addData(data) {
                if (!newDataHasNewValues(data)) {
                    console.log("r");
                    return;
                }
                for (let drink in data) {
                    let newEntry = data[drink][data[drink].length - 1];//last price of input is the new one
                    dataList[drink].push({x: newEntry[0], y: newEntry[1]}); //add the last Price
                    if (dataList[drink].length > 7) { // max 8 entries
                        let len = dataList[drink].length;
                        dataList[drink].splice(0, len - 8);
                    }
                }
                updateLegend();
                chart1.render();


            }


            function updateData() {
                $.getJSON("http://127.0.0.1:8000/data/chart", addData);
            }


            function toggleDataSeries(e) {
                e.dataSeries.visible = !(typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible);
                chart1.render();
            }

            initializeLegend();
            updateData();

            setInterval(function () {
                updateData();
            }, updateInterval * 1000);

            chart1.render();


        }
    </script>
    </div>

</head>
<div id="chartContainer"
     style="position: absolute; height: 520px; width: 1040px;margin: 0px auto;left:2%;top: 18%"></div>
<p id="demo"></p>
<script src="{{ url_for('static', filename='js/canvas.js/canvasjs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</html>