<!DOCTYPE HTML>
<html>

<head>
    <title>Cheap and Good Drinks</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

    <style type="text/css">
        body {
            /* background-image: url("/static/BeerR.jpg"); */
            background-color: black;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .canvasjs-chart-credit {
            display: none;
        }


        #chartContainer {}

        #alcohol_display {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 999;

            background: rgba(30, 30, 30, 0.85);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 12px;
            padding: 15px 25px;

            color: #ffffff;
            font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.5px;

            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            transition: all 0.3s ease;
        }

        #alcohol_display:hover {
            border-color: rgba(255, 255, 255, 0.3);
            box-shadow: 0 8px 32px 0 rgba(75, 247, 11, 0.15);
            /* matching one of the graph colors */
        }
    </style>
    <div id="code"></div>
    <script>
        window.onload = function () {
            let allPrices = []
            minPriceSet = true;
            const socket = new WebSocket('ws://' + location.host + '/echo');
            console.log('ws://' + location.host + '/echo')

            // receive message
            socket.addEventListener('message', ev => {
                if (ev.data != "CHART") {
                    let a = JSON.parse(ev.data);
                    if (a.type === "ALCOHOL") {
                        console.log("ALCOHOL: " + a.value)
                        let el = document.getElementById("alcohol_display");
                        if (el) el.innerText = "Alkohol insgesamt ausgeschenkt: " + a.value + " g";
                    } else {
                        console.log('NEW DATA!!!');
                        console.log(a)
                        addData(a);
                    }
                }
            });

            //initializer
            socket.addEventListener('open', (event) => {
                socket.send('CHART');
            });
            let dataList = [];
            let nameList = JSON.parse('{{ beers | tojson }}');
            console.log(nameList)

            let colors = JSON.parse('{{colorSet | tojson}}');
            const chartData = loadNames();
            CanvasJS.addColorSet("customColors", colors);


            let chart1 = new CanvasJS.Chart("chartContainer", {
                zoomEnabled: true,
                title: {
                    text: "Getränkepreise",
                    fontColor: "white"
                },
                colorSet: "customColors",
                axisY: {
                    suffix: "€",
                    includeZero: true,
                    labelFontColor: "white",
                    minimum: 0
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "top",
                    fontSize: 40,
                    fontColor: "white",
                    itemclick: toggleDataSeries,
                    padding: 10

                },
                axisX: {
                    labelFormatter: function (e) {
                        return "";
                    },
                    interval: 1,
                    intervalType: "number" // Can be 'number', 'minute', 'hour', etc., based on xValueType

                },
                data: chartData.map(dataSeries => ({
                    ...dataSeries,
                    type: "spline",
                    lineThickness: 4 // Increase the line thickness here
                })),
                backgroundColor: "black"
            });

            function loadNames() {
                initializeDataList();
                let data = [];
                for (let i = 0; i < nameList.length; i++) {
                    data.push({
                        type: "spline",
                        //xValueType: "dateTime",
                        yValueFormatString: "€##.00",
                        //xValueFormatString: "hh:mm:ss TT",
                        showInLegend: true,
                        name: nameList[i],
                        dataPoints: dataList[nameList[i]]
                    });
                }
                console.log(data)
                return data;
            }


            function initializeDataList() {
                for (let i = 0; i < nameList.length; i++) {
                    dataList[nameList[i]] = [];
                }
            }

            function initializeLegend() {
                for (let i = 0; i < nameList.length; i++) {
                    chart1.options.data[i].legendText = nameList[i];

                }
                chart1.render();
            }

            function updateLegend() {
                for (let i = 0; i < nameList.length; i++) {
                    chart1.options.data[i].legendText = nameList[i] + " " + getLastValueFromList(dataList[nameList[i]]) + " €";
                }
            }

            function getLastValueFromList(list) {
                return list[list.length - 1]['y'];
            }

            function getMinimumPrice() {
                if (allPrices.length > 0 && !minPriceSet) {
                    minPriceSet = true
                    let minPrice = Infinity;
                    allPrices.forEach(price => {
                        if (price < minPrice) minPrice = dp.y;
                    })
                    console.log(minPrice)
                    return minPrice;
                }
            }

            function newDataHasNewValues(data) {
                for (let drink in data) {
                    //console.log(data[drink])
                    let newEntry = data[drink]["history"][data[drink]["history"].length - 1];//last price of input is the new one
                    if (dataList[drink].length == 0) {
                        return true;
                    }
                    console.log(dataList)
                    let latestPrice = dataList[drink][dataList[drink].length - 1];
                    if (newEntry[1] != latestPrice.y) { // diff !0 and !==
                        console.log("new: " + newEntry)
                        console.log("current: " + latestPrice.y);
                        return true;
                    }

                }
                return false;
            }

            //#########################################
            function addData(data) {
                let counter = 0
                for (let drink in data) {
                    // let newEntry = data[drink].price;

                    // last entry of history is not equal to "price". Tables use price and this graph usees history though. --> different prices that are displayed!!!
                    let newEntry = data[drink]["history"][data[drink]["history"].length - 1];//last price of input is the new one
                    console.log(data[drink]['price']);
                    newEntry = data[drink]['price'];
                    let x_axis_value;
                    if (Object.values(dataList[drink].slice(-1))[0] == undefined) {
                        x_axis_value = 0
                        allPrices.push(x_axis_value)
                    } else {
                        x_axis_value = Object.values(Object.values(dataList[drink].slice(-1))[0])[0] + 1
                        allPrices.push(x_axis_value)
                    }
                    console.log(newEntry)
                    dataList[drink].push({ x: x_axis_value, y: newEntry }); //add the last Price
                    if (dataList[drink].length > 6) { // max 7 entries
                        let len = dataList[drink].length;
                        dataList[drink].splice(0, len - 7);
                    }
                    counter = counter + 1
                }
                updateLegend();
                chart1.render();
            }

            function toggleDataSeries(e) {
                e.dataSeries.visible = !(typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible);
                chart1.render();
            }

            initializeLegend();

            chart1.render();


        }

    </script>
    </div>

</head>
<div id="alcohol_display">Alkohol insgesamt ausgeschenkt: 0 g</div>
<div id="chartContainer" style="position: absolute; height: 100%; width: 100%"></div>
<p id="demo"></p>
<script src="{{ url_for('static', filename='js/canvas.js/canvasjs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

</html>